body {
	background-color: #DDD;
}

.main {
	margin-top: 100px;
}

.row {
	margin: 20px;
}

.description {
	width: 80%;
	margin: auto;
}

.small-title {
	padding-left: 5px;
}

.back-div {
	margin: 10px 0 30px 0;
	text-align: center;
}

.back-button {
	width: 150px;
}
