body {
	background-color: #DDD;
}

.main {
	margin-top: 100px;
}

.row {
	margin: 20px;
}

.description {
	width: 80%;
	margin: auto;
	text-align: justify;
}

.small-title {
	padding-left: 5px;
}

.back-div {
	margin: 10px 0 30px 0;
	text-align: center;
}

.back-button {
	width: 150px;
}

@media (max-width: 1024px) {
	body {
		font-size: 1.2em;
	}
	
	.card-title {
		font-size: 1.5em;
	}
	
	.container {
		max-width: 850px;
	}
	
	.description {
		width: 100%;
	}
}
